<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- Force MSIE not to use compatibility mode -->
        <link rel="stylesheet" href="resources/css/style.css"/>

        <!-- Compressed CSS for Foundation-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous"/>
        
        <!-- Compressed CSS for datatables -->
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>

        <!-- CSS file JQuery easy autocomplete -->
        <link rel="stylesheet" href="resources/css/easy-autocomplete.css"/>

        <!-- Open iconic -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-foundation.min.css" integrity="sha512-FxxtEcqC30sYnk1uvdsbiBuRRAOjXQlSc/YPN5d9oVTBhsuqy3ptkPqkXinxwpscyhQz8I9BLa+EhlvxtwFTGg==" crossorigin="anonymous"/>

    </head>
    <body id="grey-top">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                    <button class="menu-icon" type="button" data-toggle="responsive-menu"/>
                    <div class="title-bar-title">Menu</div>
                </div>

                <div class="top-bar">
                    <div class="top-bar-left">
                        <ul class="dropdown menu">
                            <li class="menu-text">
                                <a href="index.html">Mynegai i Ohebiaeth Morrisiaid Môn, 1725–1786</a>
                            </li>
                            <li class="menu-text">
                                <a class="text-right" href="canllaw.html">Canllaw i'r defnyddiwr</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div id="content" style="margin-top: 3rem;" class="grid-container"/>
            </div>
        </div>
        <div id="footer"/>
                
        <!-- JQuery --><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"/>
        
        <!-- Foundation Compressed JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"/>

        <!-- JS file JQuery easy autocomplete-->
        <script src="resources/js/jquery.easy-autocomplete.min.js"/>
        <script>$(document).foundation();</script>
        <!-- Datatables -->
        <script type="text/javascript" src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"/>
        <script src="resources/js/includeUndated.js"/>
        <script src="resources/js/initiateDataTables.js"/>
        <script src="resources/js/parameters.js"/>
        <script src="resources/js/rememberFilterTable.js"/>
        <script src="resources/js/autocomplete.js"/>
        <script src="resources/js/advancedSearchHandler.js"/>

        <!--<script>
            // Whe the user clears the persons and place input fields also clear the idden id-holder.
            document.getElementById('from').addEventListener("input", function(event) {
           if (document.getElementById('from').value == '') {
           setTimeout(advancedSearch, 500, document.getElementById('advancedSearch'));
           }
         });
            document.getElementById('to').addEventListener("input", function(event) {
           if (document.getElementById('to').value == '') {
             setTimeout(advancedSearch, 500, document.getElementById('advancedSearch'));
           }
         });
            document.getElementById('origin').addEventListener("input", function(event) {
           if (document.getElementById('origin').value == '') {
             setTimeout(advancedSearch, 500, document.getElementById('advancedSearch'));
           }
         });
            
            // Launch the advanced search when the date selection changes.
            document.querySelector('.slider').addEventListener("click", function () {
                advancedSearch(document.getElementById('advancedSearch'));
            });
            document.getElementById('dateFrom').addEventListener("change", function () {
                advancedSearch(document.getElementById('advancedSearch'));
            });
            document.getElementById('dateTo').addEventListener("change", function () {
                advancedSearch(document.getElementById('advancedSearch'));
            });
            document.getElementById('includeUndated').addEventListener("change", function () {
                advancedSearch(document.getElementById('advancedSearch'));
            });</script>-->
    </body>
</html>